.card{
  background: var(--gray-900);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 332px;
  height: 614px;
  margin-left: 22px;
  border: solid 3px var(--gray-500);
  border-radius: 8px;
  transition: ease 0.3s;
}

.card:hover{
  border: solid 3px var(--orange-500);
  color: var(--orange-500);
  transform: scale(1.05);
}

.image img{
  width: 300px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card section header{
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--gray-600);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.edit_bt{
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit_bt .editIcon{
  color: var(--gray-500);
  cursor: pointer;
  transition: ease 0.3s;
}

.edit_bt .editIcon:hover{
  color: var(--green-500);
}
.table table{
  width: 100%;
  margin-bottom: 1rem;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}