.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000; /* Ensure it is above other content */
}

.dialog {
  background: var(--gray-600);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  width: 100%;
}

.actions button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 80px; /* Increased width for better text alignment */
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yes {
  background: var(--gray-500);
  color: white;
}

.yes:hover {
  background: var(--green-500);
  transform: scale(1.1); /* Fixed property name */
}

.no {
  background: var(--gray-500);
  color: white;
}

.no:hover {
  background: var(--red-500);
  transform: scale(1.1); /* Fixed property name */
}