.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3rem;
  margin-top: 7rem;
}

.nav nav {
  width: 1200px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav button {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 8px;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gray-300);
  background: var(--gray-600);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav button:hover {
  background: var(--orange-500);
  color: var(--gray-200);
}

.nav input {
  width: 41rem;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
  border: 3px solid var(--gray-700);
  background: var(--gray-300);
  transition: all ease 0.3s;
  cursor: pointer;
}

.nav input:hover {
  border: 3px solid var(--orange-500);
}

.filter {
  color: var(--gray-600);
  transition: color 0.3s ease;
  cursor: pointer;
}

.filter:hover {
  color: var(--orange-500);
}