.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3rem;
  margin-top: 5rem; /* Adjusted to align with header height */
  position: relative;
  z-index: 999;
  background: var(--gray-800);
  height: 4rem;
}

.nav nav {
  width: 1200px;
  height: 48px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav button {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 8px;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gray-300);
  background: var(--gray-600);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav button:hover {
  background: var(--orange-500);
  color: var(--gray-200);
}

.nav input {
  width: 41rem;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
  border: 3px solid var(--gray-700);
  background: var(--gray-300);
  transition: all ease 0.3s;
  cursor: pointer;
}

.nav input:hover {
  border: 3px solid var(--orange-500);
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .nav nav {
    width: 1000px;
  }

  .nav input {
    width: 30rem;
  }
}

@media (max-width: 1000px) {
  .nav nav {
    width: 800px;
  }

  .nav input {
    width: 20rem;
  }
}

@media (max-width: 800px) {
  .nav nav {
    width: 600px;
  }

  .nav input {
    width: 15rem;
  }
}

@media (max-width: 400px) {
  .nav nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .nav input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .nav button {
    width: 100%;
  }
}