a{
  text-decoration: none;
}

.footer{
  background: var(--gray-800);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  margin-top: 1rem;
}

.blur{
  position: absolute;
  box-shadow: 0 0 1000px 50px var(--orange-500);
  z-index: 100;
}

.container{
  width: 1200px;
  margin: 2rem;
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

.logo{
  max-width: 4rem;
  margin-bottom: 2rem;
  border: 3px solid var(--orange-500);
  padding: 10px;
  border-radius: 100%;
}

.logo img{
  width: 100%;
  height: 100%;
}

.column p{
  color: var(--gray-300);
  margin-bottom: 2rem;
  text-align: justify;
}

.social{
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

.social_icon{
  color: var(--gray-300);
  transition: ease 0.3s;
}

.social_icon:hover{
  color: var(--orange-500);
}

.column h4{
  color: var(--gray-300);
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.column > a{
  display: block;
  color: var(--gray-300);
  margin-bottom: 1rem;
  transition: all ease 0.3s;
}

.column > a:hover{
  color: var(--orange-500);
}

.copyright{
  max-width: 100%;
  margin: auto;
  padding: 1rem;
  color: var(--gray-300);
  font-size: 0.8rem;
  text-align: center;
  background: var(--gray-800);
}